$bgi: url(../img/m-h-day.jpg);

$font1: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;
$font3: 'Fresca', sans-serif;


$colors: (
    text-color1: #21232e,
    text-color2: #ffffff,
    text-color3:rgb(192, 192, 192),
    button-color: #699900,
    span-color: #14a0c7,
    bg-color: #21232e,
    bg-color2: #ffffff,
    gradient-start: #629118,
    gradient-end: #2d5bd6
);