$bgi: url(../img/m-h-night.jpg);

$font1: 'Source Sans Pro', sans-serif;
$font2: 'Fresca', sans-serif;
$font3: 'Fresca', sans-serif;


$colors: (
    text-color1:#ffffff,
    text-color2:#ffffff,
    text-color3:rgb(192, 192, 192),
    button-color: #e3ac00,
    span-color: #ff4e33,
    bg-color: #3b3f50,
    bg-color2: #21232e,
    gradient-start: #dba008,
    gradient-end: #97334d
);